@font-face {
    font-family: 'TH SarabunPSK';
    src: url('THSarabun.ttf');
}

@font-face {
    font-family: 'TH SarabunPSK';
    src: url('THSarabunBold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Angsana New';
    src: url('angsana.ttc');
}

@font-face {
    font-family: 'TH Mali Grade 6';
    src: url('THMaliGrade6.ttf');
}

@font-face {
    font-family: 'TH Mali Grade 6';
    src: url('THMaliGrade6Bold.ttf');
    font-weight: bold;
}

.Background {
    -fx-background-color: #f9f9f9;
}

.TextFieldBox,.SubjectInfoBox,.MenuButton {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: black;
    -fx-font-family: "TH SarabunPSK";
    -fx-font-weight: normal;
}

.TextFieldBox {
    -fx-background-radius: 12;
    -fx-border-color: black;
    -fx-border-radius: 12;
    -fx-border-width: 1;
    -fx-font-size: 20;
}

.TextFieldLabel {
    -fx-font-size: 18;
    -fx-text-fill: black;
    -fx-font-family: "TH SarabunPSK";
}

.Header,.PopupHeader,.SubHeader,.NormalText
{
    -fx-font-family: "TH SarabunPSK";
    -fx-font-weight: bold;
}

.Header {
    -fx-font-size: 56;
}

.PopupHeader {
    -fx-font-size: 48;
}

.SubHeader {
    -fx-font-size: 32;
}

.NormalText {
    -fx-font-size: 24;
    -fx-font-weight: normal;
}

.NavBarButton {
    -fx-border-color: #FFFFFF;
    -fx-background-color: #FFFFFF;
}

.PopupDatePicker {
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-border-width: 1;
    -fx-border-color: #000000;
    -fx-font-size: 16;
}

.DefaultButton,.DenyButton,.BackButton,.BorderButton {
    -fx-background-radius: 12;
    -fx-border-width: 1;
    -fx-font-family: "TH SarabunPSK";
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.BorderButton {
    -fx-border-radius: 12;
    -fx-border-color: white;
    -fx-background-color: transparent;
}

.DefaultButton {
    -fx-background-color: #006B67;
}

.MenuButton {
    -fx-background-radius: 12;
    -fx-border-color: black;
    -fx-border-radius: 12;
    -fx-border-width: 1;
    -fx-font-size: 20;
}

.BackButton {
    -fx-background-color: #e3e3e3;
}

.DenyButton {
    -fx-background-color: #DA3131;
}